@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

h2, h3{
  padding: 1rem;
  font-family: 'Handlee', cursive;

}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  text-decoration: underline;
}
p{
  font-size: 1.6rem;
  font-family: 'Handlee', cursive;
}
th, td{
  color: white;
  text-shadow: 1px 1px black;
}
nav{
  font-family: 'Handlee', cursive;
}