#user-info,
#comments {
  margin: 10vh auto;
  text-align: center;
}
.profile-image {
  width: 40vh;
  border-radius: 40%;
}
ul.dropdown-menu {
  overflow: scroll;
}
.profile-section {
  padding: 5px;
  margin: 0 auto;
  background: rgba(203, 149, 170, 0.4);
  max-width: 60vh;
}
